///
/// This file regroups the frontend general design rules and portal design
/// rules.
///

// ======  Variables =========
.align-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
